* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  width: 1200px;
  margin: 0 auto;
  background-color: khaki;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: khaki; */
  padding: 40px 50px;
  position: absolute;
  z-index: 10;
}

.logo {
  width: 130px;
  /* height: 100px; */
  background: lightcoral;
}

.nav {
  display: flex;
  /* justify-content: space-between; */
}

.nav a {
  display: inline-block;
  width: 100px;
  height: 40px;
}

.slide {
  height: 100vh;
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(35, 40, 36, 0) 39.55%,
      #1e231f 107.6%
    ),
    url("./images/slide_01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 100px;
  height: 100px; */
  transform: translate(-50%, -50%);
  color: blueviolet;
  text-align: center;
}

.slide-text h2 {
  font-size: 84px;
}
