@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {


.social a {
  display: block;
  width: 40px;
  margin: 30px 0;
  opacity: 60%;
  transition: opacity 1s;
}

.social a:hover {
  opacity: 100%;
}
